<%- include("./header.ejs") %>
    <div class="container py-5 fs-4">
        <div style="padding: 0px 20px;">
            <%- content %>
        </div>
    </div>
    <hr />
<%- include("./footer.ejs") %>