<footer class="p-2 bg-dark mt-5 text-light">
    <div class="container">
        &copy; 2023 Netrix Solutions
        <p class="pt-4 text-white" style="font-size: 0.7em;">This Email Was sent from <a
                href="https://circuit-crm.vercel.app/" class="text-white">Circuit City CRM</a></p>
    </div>
</footer>
</body>

</html>