<footer class="p-2 bg-secondary mt-3">
    &copy; 2023 Netrix Solutions
    <p class="pt-4" style="font-size: 0.8em;">This Email Was sent from <a href="https://circuit-crm.vercel.app/" class="text-success">Circuit City CRM</a></p>
</footer>
</body>
</html>