<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
</head>

<body style="font-family: poppins, sans-serif !important;background-color: #f4f4f4;">
    <div style="text-align: center;padding: 20px">
        <img style='width: 150px;'
            src="https://i0.wp.com/circuitcity.com.ng/wp-content/uploads/2023/05/1498070188-15-circuit-city-mall-ltd-removebg-preview.png?fit=600%2C337&ssl=1" />
    </div>